@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@config '../tailwind.config.js';

@theme {
  --color-primary: #e20535;
  --color-primaryLight: #e7375d;
  --color-primaryExtraLight: #eb5f7d;
  --color-primaryDark: #9e0325;
  --color-secondary: #05e2b2;
  --color-secondaryLight: #5febcd;
  --color-secondaryExtraLight: #79ebd3;
  --color-secondaryDark: #039e7c;
  --color-tertiary: #e7c137;
  --color-tertiaryLight: #ebcd5f;
  --color-tertiaryExtraLight: #ebd47c;
  --color-tertiaryDark: #e19a00;
  --text-h-1: clamp(1.25rem, 3vh, 2.5rem);
  --text-h-2: clamp(1rem, 2.5vh, 2rem);
   --animate-shimmer: shimmer 1.2s infinite linear;
   
   @keyframes shimmer {
      to { background-position-x: 0% }
   }
}

#tense0:checked + label, 
#tense1:checked + label, 
#tense2:checked + label, 
#tense3:checked + label, 
#tense4:checked + label,
#tense5:checked + label, 
#tense6:checked + label, 
#tense7:checked + label, 
#tense8:checked + label, 
#tense9:checked + label {
   background-color: var(--color-secondaryDark);
   color: white;
}

#verb0:checked + label, 
#verb1:checked + label, 
#verb2:checked + label, 
#verb3:checked + label, 
#verb4:checked + label,
#verb5:checked + label, 
#verb6:checked + label, 
#verb7:checked + label, 
#verb8:checked + label, 
#verb9:checked + label,
#verb10:checked + label, 
#verb11:checked + label, 
#verb12:checked + label, 
#verb13:checked + label, 
#verb14:checked + label,
#verb15:checked + label, 
#verb16:checked + label, 
#verb17:checked + label, 
#verb18:checked + label, 
#verb19:checked + label {
   background-color: var(--color-primaryDark);
   color: white;
}
