#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.selection-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.hidden {
	display: none;
}
/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.selection-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.selection-box {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

.selection-options {
  display: flex;
  flex-flow: column wrap;
  gap: 10px 20px;
  justify-content: flex-start;
  height: 350px;
  border: 1px solid #69696c;
  padding: 15px;
}

.answer-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  padding: 20px;
}

.button {
  border: 1px solid #69696c;
  font-weight: 600;
}

.button.sm {
  padding: 5px 10px;
}

.button.md {
  padding: 15px;
}

.button:hover {
  border: 1px solid #69696c;
  background-color: #69696c;
  color: #fff;
  font-weight: 600;
}
.footer-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer-container p {
  font-style: italic;
  margin: 0;
} */